# toplevel debug

Debug/


# toplevel useless stuff

*.sdf
*.suo
*.opensdf
menuaufbau.png

# toplevel includes
dev tools


# main folder debug

Remarius/Debug/
Remarius/Remarius.exe

# main folder Saves

Remarius/Debug/Save 1
Remarius/Debug/Save 2
Remarius/Debug/Save 3
Remarius/Save 1


# main folder test stuff

Remarius/source/Menu2.*
Remarius/source/BrokenText.cpp
Remarius/source/BrokenText.hpp


# main folder config

Remarius/Config.xml
